@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}
.container
{
    position: relative;
    height: 300px;
    width: 300px;
}
.container #rocket
{
    position: absolute;
    left: 0;
    right: 0;
    bottom: -300px;
    animation: fly 10s .5s ease-in;
}
@keyframes fly {
    0%{ bottom: -300px; }
    100%{ bottom: 100%; }
}






